@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/roboto.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/roboto-bold.ttf) format('truetype');
}
